
.section-7{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f7f7f7;
}
.section-7 i{
	border-color: #f7f7f7;
}
.our-blog-item{	
	background: white;
	width: 100%;
	margin-top: 20px;
}
.blog-text{
	float: right;
	width: 65%;
	padding: 15px 10px;
}
.blog-text-1{
	font-weight: bold;
	font-size: 	16px;
}
.blog-text-2{
	font-style: oblique;
}
.link{
	cursor: pointer;
}