@media (min-width: 1200px) {
	.our-blog-item img{
		max-width: 	100%;
	}
}	

@media (min-width: 992px) and (max-width: 1199px){
	.blog-text{
		width: 50%;
	}

}

@media(min-width: 768px) and (max-width: 991px){
	.our-blog-item img{
		width: 35%;
	}
	.our-blog-item{
		height: 250px;
	}
}

@media (max-width: 767px){
	.our-blog-item{
		margin-top: 20px;
		padding: 10px 0;
	}
	.blog-text{
		width: 70%;
	}
}
@media (max-width: 645px){
	.our-blog-item img{
		width: 30%;
	}
	.blog-text{
		width: 67%;
		font-size: 	12px;
	}
}

@media (max-width: 480px){
	.blog-text{
		float: none;
		width: 100%;
		font-size: 13px;
	}
	.our-blog-item img{
		width: 100%;
	}
	.section-7 hr{
		width: 100px;
	}
}